.tasksCard {
    padding: 20px;
    overflow-x: auto;
}

.filterWrapper {
    padding: 12px;
}

.filterWrapper button {
    /*margin-left: 10px;*/
}

.task_priority_1 {
    background-color: #8cd0ae !important;
}

.task_priority_2 {
    background-color: #72afe3 !important;
}

.task_danger {
    background-color: #fbb4af !important;
}

.task_warning {
    background-color: #e0c493 !important;
}