.user_edit_card {
    padding: 20px;
    font-size: 1.5em;
}

div.user_data_item {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    border-bottom: 1px solid #886ab5;
}

.user_data_text span {
    font-weight: bold;
}
