.buttons_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
}

.buttons_block > div {
    display: flex;
    flex-direction: row;
}

.buttons_block_left button {
    margin-right: 10px;
}

.buttons_block_right button {
    margin-left: 10px;
}

.buttons_block button {
    display: flex;
}

@media screen and (max-width: 600px) {
    .buttons_block {
        flex-direction: column;
        justify-content: flex-start;
    }
    .buttons_block > div {
        flex-direction: column;
        justify-content: flex-start;
    }
    .buttons_block button {
        margin: 0 0 10px 0;
    }
    .user_data_item {
        display: flex;
        flex-direction: column;
    }
}