.new_user_card {
    padding: 20px;
}

.form_buttons_block > button {
    margin-right: 10px;
}

.form_buttons_block > a {
    margin-right: 10px;
}

@media screen and (max-width: 350px) {
    .form_buttons_block {
        flex-direction: column;
        justify-content: flex-start;
    }
    .form_buttons_block > div {
        flex-direction: column;
        justify-content: flex-start;
    }
    .form_buttons_block button {
        margin: 0 0 10px 0;
        width: 100%;
    }
    .form_buttons_block > a {
        margin: 0 0 10px 0;
        width: 100%;
    }
}