.menu_item_active {
    border-right: 3px solid #1e72ad !important;
    background-color: rgb(30, 114, 173, 0.1) !important;
    color: #1e72ad !important;
}

.menu_item_active .MuiListItemText-root {
    color: #1e72ad !important;
}

.menu_item_active .MuiBadge-root {
    color: #1e72ad !important;
}

.menu_item {
    border-right: 2px solid transparent !important;
}

.menu_icon_active {
    color: #1e72ad !important;
}

.menu_icon {
    color: #898989 !important;
}

.menu_icon_active span {
    color: #fff !important;
}

.main_menu_item_active .MuiListItemText-root {
    color: #1e72ad !important;
}