.overlay_spinner {
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.5);
    top: 0;
    left: 0;
    z-index: 2050;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}