.login_form_wrapper {
   width: 428px;
   padding: 0 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /*border-radius: 2px;*/
}

.password_input_wrapper {
   position: relative;
   width: 100%;
}

.password_icon_btn {
   top: 8px;
   right: 0;
}

.login_checkbox_wrapper {
   width: 100%;
}

.login_btn {
   margin-top: 8px;
}