.taskBlock {
    padding: 10px;
    margin-bottom: 10px;
}

.taskDataItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    min-height: 42px;
    border-bottom: grey solid 1px;
}

.taskDataItemText {
    font-size: large;
}

.taskDataItem span {
    font-weight: bold;
}