<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/img/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('/img/favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('/img/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        <!-- Call App Mode on ios devices -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('/css/app.bundle.css') }}" rel="stylesheet" />
            <link href="{{asset('/css/vendors.bundle.css')}}" id="vendorsbundle" rel="stylesheet" media="screen, print" >
            <link href="{{asset('/css/skins/skin-master.css')}}" id="myskin" rel="stylesheet" media="screen, print" >
            <link href="{{asset('/css/fa-brands.css')}}" rel="stylesheet" media="screen, print" >
            <link href="{{asset('/css/theme-demo.css')}}" rel="stylesheet" media="screen, print" >
{#            <link href="{{asset('/css/formplugins/select2/select2.bundle.css')}}" rel="stylesheet" media="screen, print" >#}
        {% endblock %}
    </head>
    <body class="mod-bg-1 mod-nav-link desktop pace-done mod-skin-light">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{asset('/js/vendors.bundle.js')}}"></script>
            <script src="{{asset('/js/app.bundle.js')}}"></script>
            <script src="{{asset('/js/datagrid/datatables/datatables.bundle.js')}}"></script>
{#            <script src="{{asset('/js/formplugins/select2/select2.bundle.js')}}"></script>#}
            <script src="{{asset('/js/page.js')}}"></script>
{#            <script src="{{asset('/js/plugins.js')}}"></script>#}
            {% if app_env == 'prod' %}
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript" >
                    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
                    ym(84156763, "init", {
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                </script>
                <noscript><div><img src="https://mc.yandex.ru/watch/84156763" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->
            {% endif %}
        {% endblock %}
    </body>
</html>
