.small_photo_card {
    border: solid 1px #868e96;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    width: 200px;
    height: 300px;
}
.small_photo_card img {
    object-fit: contain;
    width: 100%;
    height: auto;
}