.error_container {
    text-align: center;
    padding: 50px 0px;
}

.error_title {
    font-size: 78px !important;
    font-weight: 700 !important;
}

.error_subtitle {
    font-size: 32px !important;
    font-weight: 500 !important;
}
