.login_layout {
    align-items: center;
    background-color:rgb(88, 68, 117);
    background-image:linear-gradient(270deg, rgba(51, 148, 225, 0.18), rgba(0, 0, 0, 0));
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.page-logo img {
    width: auto !important;
    height: auto;
}

.footer-link {
    text-decoration: none;
    font-size: 27px;
    letter-spacing: 1px;
    text-decoration: none !important;
}